<div class="container">
    <input type="text" [(ngModel)]="textFilter" class="form-control" placeholder="Search"/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients | filterListForText: textFilter">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.birthdate}}</td>
                <td>
                    <a [routerLink]="client.id">
                        <span class="oi oi-pencil" title="Edit client" aria-hidden="true"></span>
                    </a> 
                    <a (click)="deleteClient(client)" >
                        <span class="oi oi-delete" title="Delete client" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <app-empty-list [list]="clients"></app-empty-list>
</div>
